<a href="https://colab.research.google.com/github/syedabasmah/masters_thesis/blob/main/conversion/pre_dataset_yelpZip.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **preprocessing**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_csv("/content/drive/MyDrive/metadataZip",sep="\t",header=None)

In [ ]:
df2 = pd.read_csv("/content/drive/MyDrive/reviewContentZip",sep="\t",header=None)

In [ ]:
df1.head()

      0  1    2  3           4
0  5044  0  1.0 -1  2014-11-16
1  5045  0  1.0 -1  2014-09-08
2  5046  0  3.0 -1  2013-10-06
3  5047  0  5.0 -1  2014-11-30
4  5048  0  5.0 -1  2014-08-28

In [ ]:
df1.columns = ["user_id", "prod_id", "rating", "label", "date"]

In [ ]:
df1.head()

   user_id  prod_id  rating  label        date
0     5044        0     1.0     -1  2014-11-16
1     5045        0     1.0     -1  2014-09-08
2     5046        0     3.0     -1  2013-10-06
3     5047        0     5.0     -1  2014-11-30
4     5048        0     5.0     -1  2014-08-28

In [ ]:
df1.shape

(608598, 5)

In [ ]:
df2.columns = ["user_id", "prod_id", "date", "review"]

In [ ]:
df2.head()

,user_id,prod_id,date,review
0,5044,0,2014-11-16,"Drinks were bad, the hot chocolate was watered..."
1,5045,0,2014-09-08,This was the worst experience I've ever had a ...
2,5046,0,2013-10-06,This is located on the site of the old Spruce ...
3,5047,0,2014-11-30,I enjoyed coffee and breakfast twice at Toast ...
4,5048,0,2014-08-28,I love Toast! The food choices are fantastic -...

In [ ]:
df2.shape

(608458, 4)

In [ ]:
pd.merge(df1,df2,on=['user_id','prod_id','date'],how='left')

,user_id,prod_id,rating,label,date,review
0,5044,0,1.0,-1,2014-11-16,"Drinks were bad, the hot chocolate was watered..."
1,5045,0,1.0,-1,2014-09-08,This was the worst experience I've ever had a ...
2,5046,0,3.0,-1,2013-10-06,This is located on the site of the old Spruce ...
3,5047,0,5.0,-1,2014-11-30,I enjoyed coffee and breakfast twice at Toast ...
4,5048,0,5.0,-1,2014-08-28,I love Toast! The food choices are fantastic -...
...,...,...,...,...,...,...
608593,119664,5039,4.0,1,2013-01-20,When I first moved to the area I must say I wa...
608594,56277,5039,2.0,1,2012-11-12,Kind of pricey. I guess I expected a ridiculou...
608595,265320,5039,1.0,1,2012-08-22,"Stopped by this restaurant yesterday, we just ..."
608596,161722,5039,4.0,1,2011-05-11,Finally checked out The Best Subs in Claremont...
608597,78454,5039,4.0,1,2010-07-17,"Just got me some ""Best Subs"" and I gotta say, ..."

In [ ]:
dataset= pd.merge(df1,df2,on=['user_id','prod_id','date'],how='left')

In [ ]:
dataset.head()

,user_id,prod_id,rating,label,date,review
0,5044,0,1.0,-1,2014-11-16,"Drinks were bad, the hot chocolate was watered..."
1,5045,0,1.0,-1,2014-09-08,This was the worst experience I've ever had a ...
2,5046,0,3.0,-1,2013-10-06,This is located on the site of the old Spruce ...
3,5047,0,5.0,-1,2014-11-30,I enjoyed coffee and breakfast twice at Toast ...
4,5048,0,5.0,-1,2014-08-28,I love Toast! The food choices are fantastic -...

In [ ]:
dataset.shape

(608598, 6)

In [ ]:
dataset.to_csv("yelpZip.csv")